/* GENERICS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: rgba(0, 0, 0, 0.529); 
    width: 79%;
    height: 100px;
    position: fixed;
}
/*  UTILITIES */
button{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.529); 
    color: white;
    padding: 10px 30px;
    border-radius: 17px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 5px;
}
/* AD HOC */
.big-box{
    height: calc(100vh - 100px);
    overflow: auto;
    display: flex;
}
.small-box{
    background-color: #282828;
    height: 100px;
}
.side-bar{
    flex-basis: 20%;
    background-color: beige;   
}
.center-content{
    flex-basis: 80%;
    background-color: #141922;
    overflow: auto;
    position: relative;
}

