/* GENERICS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* ridimensiona a 567px */
header{
    background-color: rgba(0, 0, 0, 0.529); 
    height: 100px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    text-align: right;
    padding-right: 20px;
    line-height: 95px;
    margin-bottom: 30px;
}
/*  UTILITIES */
button{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.529); 
    color: white;
    padding: 10px 30px;
    border-radius: 17px;
    border: none;
    cursor: pointer;
}
.container{
    max-width: 900px;
    margin: auto;
}
ul{
    list-style-type: none;
}
h2{
    color: white;
    font-weight: 800;
    margin-bottom: 10px;
}
h3{
    color: white;
    text-align: center;
}
h4{
    color: #696B70;
    font-size: .8rem;
}
.row{
    display: flex;
    gap: 20px;
}
.col{
    flex-basis: calc(100% / 6 - 40px / 5);
}
.card{
    text-align: center;
}
img{
    width: 170px;
    margin-bottom: 10px;
}
/* AD HOC */
.big-box{
    height: calc(100vh - 80px);
    overflow: auto;
    display: flex;
}
.small-box{
    background-color: #282828;
    height: 80px;
}
.side-bar{
    flex-basis: 20%;
    background-color: black;  
    padding: 10px; 
}
.center-content{
    flex-basis: 80%;
    background-color: #141922;
    overflow: auto;    
}
.container ul{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    color: #696B70;
}
.container li{
    border-bottom: 2px solid #ADFF2F;
}
.main-container{
    padding: 30px 20px;
}
.main-container .row{
    padding-top: 30px;
}
.title{
    color: white;
    font-weight: 700;
    width: 160px;
    margin-bottom: 10px;
}
.sub-title{
    font-size: .8rem;
    margin-bottom: 10px;
    color: #696B70;
}
.stranger{
    width: 170px;
}
.mg-20{
    margin-top: 20px;
}
.radius{
    border-radius: 50%;
}
#logo{
    width: 120px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
/* lui deve diventare dispaly block */
#small-logo{
    width: 30px;
    display: none;
}
.row-icons{
    display: flex;
    gap: 10px;
}
.wd-25{
    width: 25px;
}

.side-bar li{
    color: #696B70;
}
.side-bar h2{
    font-size: 1rem;
    margin-top: 20px;
}
.fa-square-plus{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.center{
    align-self: center;
}
.playlist{
    padding-bottom: 10px;
}



